$brand-red: #C32164;
$brand-green: #538d34;
$brand-blue: #0077af;
$brand-yellow: #bfac62;

$brand-blue-light: #00a8e1;
$brand-blue-lighter: #a7d6f4;

// blacks
$brand-black: #2e2e2c;
$brand-black90: #414042;
$brand-black80: #58585b;
$brand-black70: #6d6e70;
$brand-black60: #777776;
$brand-black50: #868686;
$brand-grey: #4D4D4D;
$brand-light-grey: #d0d2d3;
$brand-lighter-grey: #eee;

// opacity colors
$brand-green10: #eef3eb;
$brand-red10: #fae9ee;
$brand-blue10: #ecf7f8;
$brand-black10: #ececec;

// 2018 brand colors
$brand-gold: #4C441A;
$brand-gold-light: #ECEADA;
