$greenTick: url('../images/svg/tick-green.svg');
$redCross: url('../images/svg/cross-red.svg');
$factBlue: url('../images/svg/fact-blue.svg');
$tipBlue: url('../images/svg/tip-blue.svg');
$exclamationMark: url('../images/svg/exclamation-mark.svg');
$questionMark: url('../images/svg/question-mark.svg');
$closeIcon: url('../images/svg/close.svg');
