/*
#alertBanner

MBIB-24 alertBanner (see page 50-51)

Template: ElementalertBanner

Styleguide 6.2.5

*/

.alertBanner {
  max-height: 0;
	overflow: hidden;
  transition: max-height .5s ease;
  background-color: #0077af;

  &.active {
		max-height: 500px;

		@include respond(print) {
			border-bottom: 1px solid black;
		}
  }

  &-linkwrap {
    width: 100%;

		@include respond(md) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: auto;
    }
	}

	&-link {
    border: 2px solid #FFF;
    color: #fff;
    padding: 10px 16px;
		margin-bottom: 0;
		margin-right: 50px;
    position: relative;
    display: inline-block;
		text-align: left;
    white-space: normal;
    text-decoration: none;
    transition: background-color .3s ease;

		@include respond(lg) {
			font-size: 16px;
			text-align: center;
    }

    &:hover, &:focus {
      color: #0077af;
      background-color: #FFF;
    }
	}

	&-dismiss {
		position: absolute;
		right: 10px;
		top: 10px;

		&--button {
			width: 35px;
			height: 35px;
			text-indent: 99999px;
			overflow: hidden;
      border: none;
      background-color: transparent;
      border: none;
      position: relative;
      opacity: .7;
      cursor: pointer;
      transition: opacity .3s ease;

      &:hover, &:focus {
        opacity: 1;
      }
      &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 35px;
        width: 2px;
        background-color: #FFF;
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }

			@include respond(lg) {
				width: 40px;
				height: 40px;
				background-size: 40px;
			}
		}
  }
}

.alertBanner-description {
    max-height: 275px;
    overflow: hidden;
    margin-bottom: 20px;

    & > * {
      color: #FFF;
    }
}


.alertBanner-content {
  margin-bottom: 10px;
  max-width: 500px;

  @include respond(md) {
    margin-bottom: 0;
    margin-left: 20px;
  }

}

.alertBanner-icon {
	margin: 0 10px 0 0;
	display: block;
	width: 100%;
	max-width: 80px;
  max-height: 80px;
  background-size: contain;
  background-repeat: no-repeat;

  @include respond(xs, 'max') {
    max-width: 100%;
    background-size: 50px;
    height: 50px;
    margin-bottom: 20px;
	}

	@include respond(sm) {
    margin-right: 30px;
	}

	@include respond(print) {
		display: none !important;
  }

  img {
    max-width: 80px;

    @include respond(xs, 'max') {
      max-width: 50px;
    }
  }
}

.alertBanner-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  position: relative;

  @include respond(print) {
		padding: 10px;
		text-align: left;
		background: none !important;
  }
}

.alertBanner-content {
  color: #fff;

  .alertBanner-title {
    color: #fff;
  }
}


.alertBanner-title {
  margin: 0 0 10px;

  @include respond(md) {
    margin-bottom: 20px;
  }
}
